.menu-icon {
    width:20px;
    height:40px;
    padding-left:20px;
}
.edit-search-icon {
    width:40px;
    height:25px;
    padding-top:5px;
    padding-left:3px;
    padding-right:3px;
}
.edit-mic-icon {
    width:24px;
    height:30px;
    border:none;
    border-radius:30px;
}
.search-mic {
    border:none;
    border-radius:30px;
    margin-left:15px;
    background-color:rgb(239, 239, 239);
}
.create-icon, .apps-icon, .notification-icon, .pp-icon {
    width:25px;
    height:25px;
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
  }
  .search-bar::placeholder {
    font-size: 16px;
  }
  .search-button {
    border-width:1px solid;
    border-color:grey;
    margin-left:-1px;
    border-radius:2px;
  }
  .upload-icon-container, .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }
  .upload-icon {
    height: 24px;
  }
  .youtube-apps-icon {
    height: 24px;
  }
  
  .notifications-icon {
    height: 24px;
  }
  .notifications-icon-container {
    position: relative;
  }
  .notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
  }

  .pp-user{
    height: 32px;
    border-radius: 16px;
  }
